
@import url('https://prosemirror.net/css/editor.css');
:host {display: block;}
#editor {height: 500px;}
#content {display: none;}

placeholder {
    display: inline;
    border: 1px solid #ccc;
    color: #ccc;
}
placeholder:after {
    content: "☁";
    font-size: 200%;
    line-height: 0.1;
    font-weight: bold;
}
.ProseMirror img { max-width: 100px }
